<h1>Gossip <%= @gossip.id %></h1>
<p><b>Titre du Gossip: </b><%= @gossip.title %><br>
<b>Contenu: </b><%= @gossip.content %></p>
 <p><a href="../user/<%=@gossip.user.id %>">Voir le profil de <%= @gossip.user.first_name %></a> </p>

