<h1>Bienvenue <%= @first_name %> </h1>

<p>Auteur: <%= @author %></p>
<p>Titre du Gossip: <%= @title %></p>
<p>Auteur <%= @array_user_all.each { |k| puts k[0][1] } %></p>
<p> puts <%= @array_user_all %> </p>