<h1>User <%= @user.id %></h1>
<p><b><%= @user.first_name %> <%= @user.last_name %>, <%= @user.age%> years old</b> <br>
<%= @user.description %><br>

<b>contacter <%= @user.first_name%></b>: <%= @user.email%>


